<div class="disqus-comments">
  <div class="comments">
    <div id="disqus_thread"></div>
    <script
      src="https://giscus.app/client.js"
      data-repo="rashidpulikkuth/rashidpulikkuth.github.io"
      data-repo-id="MDEwOlJlcG9zaXRvcnkyOTYzNzEzMTE="
      data-category="General"
      data-category-id="DIC_kwDOEapEb84C6uiF"
      data-mapping="pathname"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="1"
      data-input-position="top"
      data-theme="preferred_color_scheme"
      data-lang="en"
      data-loading="lazy"
      crossorigin="anonymous"
      async
    ></script>
    <noscript
      >Please enable JavaScript to view the
      <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript
    >
  </div>
</div>
